* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(53, 82, 66, .5), rgba(47, 80, 63, .6)), url(./images/bg.jpg) center no-repeat;
    background-size: cover;
}

.banner {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner h1 {
    font-size: 8rem;
    color: #ddd;
    font-weight: 300;
    margin-bottom: 3rem;
}

.banner span {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.banner p {
    font-size: 5rem;
    font-weight: 300;
    color: #eee;
    margin-bottom: 2rem;
}

.banner button {
    width: 18rem;
    padding: 1.2rem;
    margin: 2rem;
    border: .2rem solid #eee;
    border-radius: 5rem;
    font-size: 1.8rem;
    outline: none;
    letter-spacing: .1rem;
    cursor: pointer;
}

.btn-left {
    background-color: #eee;
    color: #444;
}

.btn-right {
    background-color: transparent;
    color: #eee;
}